/*-- scss:defaults --*/

$body-bg: #1c1c1c;
$body-color: #bdbdbd;
$link-color: #42affa;
$presentation-h1-font-size: 1.5em;
$presentation-h2-font-size: 1.25em;
$presentation-h3-font-size: 1.2em;
$presentation-h4-font-size: 1.1em;
$presentation-h5-font-size: 1.05em;
$presentation-h6-font-size: 1.0em;
$code-block-border-color: #1c1c1c;
$presentation-font-size-root:	32px;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
